@import "../../reset";
@import "../../variables";
@import "../../mixins";

.about-us-section__card-holder .card-info {
  width: 238px;
  height: 211px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  img {
    width: 70px;
    height: 60px;
  }
  h3 {
    @include fontstyle($main-font, 20, 22, $font-color-dark, 600);
    text-align: center;
  }
  p {
    @include fontstyle($main-font, 15, 22, $font-color-dark);
    text-align: center;
  }
}

.service .card-info {
  height: 244px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  img {
    width: 56px;
    height: 62px;
  }
  h3 {
    @include fontstyle($main-font, 20, 22, $font-color-dark, 600);
    text-align: center;
  }
  p {
    @include fontstyle($main-font, 15, 22, $font-color-dark);
    text-align: center;
  }
  &.focus h3,
  &.focus p {
    color: $font-color-light;
  }
}
