@import "../../../reset";
@import "../../../variables";
@import "../../../mixins";

.main-title {
  max-width: 851px;
  min-height: 127px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  h2 {
    @include fontstyle($main-font, 36, 49, $font-color-dark, 700);
  }
  p {
    @include fontstyle($main-font, 18, 24, $font-color-dark);
    text-align: center;
  }
}
