@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// FONTS
$main-font: "Open Sans";
$secondary-font: "Roboto";

// COLORS
// font
$font-color-dark: #000000;
$font-color-light: #ffffff;
$font-color-error: #ff0000;
// buttons
$btn-bg-color-inactive: transparent;
$btn-bg-color-active: #00897b;
$btn-bg-color-form: #3949ab;
$btn-border-color-light: #ffffff;
$btn-border-color-dark: #000000;

// bg
$service-bg-color-active: #00897b;
$card-bg-color: #ffffff;
$services-section-bg: #e4fdf9;
$pricing-plan-section-bg: #f0f1f1;
$pricing-plan-card-header-bg: #3949ab;
$blog-section-bg: #e4f1fd;
$contact-section-bg: rgba(34, 35, 33, 0.72);

// borders
$pricing-plan-border: #bfbfbf;
// shadow
$shadow-color: rgba(0, 0, 0, 0.35);

// GRID
$desktop-width: 1372px;
$smartphone-width: 320px;
