@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// fonts
$main-font: "Open Sans";
$secondary-font: "Roboto";

// colors
$font-color-dark: #000000;

// grid
$desktop-width: 1372px;
$smartphone-width: 320px;
